<div class="col-md-6">
  <h2> Student Details</h2>
  
  <table class="table table-striped" style="width:100%">
    <thead>
    <tr>
      <th class="hidden">Id</th>
      <th>FirstName</th>
      <th>LastName</th>
      <th>DOB</th>
      <th>DOJ</th>
      <th>Session</th>
      <th>Phone</th>
      <th>Action</th>
    </tr>
  </thead>
    <tbody>
    <tr *ngFor="let student of studentDtos" >
      <td class="hidden"></td>
      <td>{{student.fname}}</td>
      <td>{{student.lastname}}</td>
      <td>{{student.dob | date:'dd-MM-yyyy'}}</td>
      <td>{{student.doj | date:'dd-MM-yyyy'}}</td>
      <td>{{student.session}}</td>
      <td>{{student.phone}}</td>
      <td><button class="btn btn-secondary" (click)="openStudentDailog(student)"> Edit Student</button></td>
    </tr>
    </tbody>
  </table>
  </div>